<mat-toolbar class="barra-color">
    <mat-toolbar-row>
        <h1>Felipin</h1>
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>

        <mat-form-field class="example-form-field">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" >
        </mat-form-field>

        <span style="flex: 1 1 auto;"></span>
        <div class="user-info">
            <label class="user-name">
                    <mat-icon>shopping_cart</mat-icon>
            </label>
            <label class="user-name">
                    <mat-icon>person</mat-icon>
            </label>
            <button title="Cerrar Sesion" mat-icon-button>
                <mat-icon >logout</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
  