/* General */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Toolbar */
.barra-color {
    background-color: #333; /* Color principal más oscuro */
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.busqueda{
    width: 300px;
    color: white;
    
}

/* User info */
.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 20px;
    font-size: 14px;
    color: white;
}
