.productoContenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.producto{
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
}

p {
    max-width: 225px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

button {
    margin-left: 1rem
}